.remark-slide-content.dark {
    background-color: #272822;
    color: #DEDEDE;
}

.remark-slide-content.dark small {
    color: #777872;
}

.remark-slide-content.dark a,
.remark-slide-content.dark a:link,
.remark-slide-content.dark a:visited {
    color: rgb(249, 38, 114);
}

.remark-slide-content.dark .remark-code {
    background-color: #272822;
}

.hljs-default .hljs {
    color: #DEDEDE;
}
